@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') * {
    box-sizing: border-box;
}

body {
    background-color: #a1cdfa;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 450px;

}

.form {
    padding: 30px 40px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}